/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET IMG */
img{
    max-width: 100%;
}
/* classe del body per mettere il colore dietro */
body{
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#009688 0%, #009688 150px, #d9dbd5 150px, #d9dbd5 100%);
}
/* classe per il container centrale */
.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    /* debug */
    min-height:800px ;
    background: #fff;
}
/* classe del container di sinistra  */
.container .sinistra{
    position: relative;
    width: 30%;
    background-color: #fff;
}
/* classe del container di destra */
.container .destra{
    position: relative;
    background: #e5ddd5;
    width: 70%;
    background-image: url(../img/mine.jpg);
}
/* header di sinistra */
.sinistra header{
    /* debug */
    height: 100px;
    width: 100%;
    background-color: red;
}
/* header di destra */
.destra header{
    /* debug */
    height: 100px;
    width: 100%;
    background-color: yellow;
}
/* classe per le notifiche */
.notifiche{
    /* debug */
    height: 125px;
    width: 100%;
    background-color: aqua;
}
/* classe per la ricerca */
.ricerca{
    /* debug */
    height: 50px;
    width: 100%;
    background-color: gray;
}
/* classe per la lista delle chat */
.chat-list{
    /* debug */
    overflow-y: scroll;
    width: 100%;
    height: 525px;
    background-color: green;
}
/* classe per il container dell'header */
.container-header{
    /* debug */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* classe per il contenuto di sinistra dentro l'header di sinistra */
.div-sinistra-header{
    /* debug */
    width: 20%;
    height: 50px;
    background-color: white ;
}
/* classe per il contenuto di destra dentro l'header di sinistra */
.div-destra-header{
    /* debug */
    width: 40%;
    height: 50px;
    background-color: blueviolet; 
}
/* classe per la chat */
.chat{
    /* debug */
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 3px solid orange;
}
/* classe per l'immagine dentro la chat */
.img-chat{
    /* debug */
    width: 20%;
    height: 90px;
    background-color: white ;
    border: 1px solid black;
}
/* classe per il testo del messaggio dentro la chat */
.text-chat{
    /* debug */
    width: 60%;
    height: 90px;
    background-color: blueviolet; 
    border: 1px solid black;
}
/* classe per la chat attuale  */
.chat-box{
    /* debug */
    width: 100%;
    position: relative;
    padding: 2rem 3rem;
    background-color: lightcoral;
    height: 600px;
    overflow-y: scroll;
}
/* classe per il blocco del messaggio */
.message{
    position: relative;
    display: flex;
    width: 100%;
}
/* modifico il paragrafo dentro il blocco del messaggio */
.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 60%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px ;
    font-size: 15px;
}
/* aggiungo la freccetta che indica da dove proviene il mio messaggio  */
.message p::before{
    content: '';
    position: absolute;
    top: 70%;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%, transparent)
}
/* modifico il paragrafo del messaggio dell'amico */
.friend_message p{
    background: #fff;
    text-align: left;
}
/* aggiungo la freccetta che indica da dove proviene il suo messaggio  */
.message.friend_message p::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%, transparent)
}
/* modifico il mio messaggio e lo metto tutto a destra */
.my_message{
    justify-content: flex-end;
    padding-bottom: 2rem;
}
/* modifico il suo messaggio e lo metto tutto a sinistra */
.friend_message{
    justify-content: flex-start;
    padding-bottom: 2rem;
}
/* classe per la parte dove scrivi un messaggio */
.scrivi{
    /* debug */
    width: 100%;
    height: 100px;
    background-color: springgreen;
    display: flex;
    justify-content: space-between;
}
/* classe del blocco con il nome e la foto  */
.foto-nome{
    /* debug */
    width: 40%;
    background-color: slateblue;
}
/* classe per il blocco dei simboli */
.simboli-chat{
    /* debug */
    width: 30%;
    background-color: red;
}
/* classe per il container delle emoji */
.emoji{
    /* debug */
    background-color: pink;
    width: 15%;
}
/* classe per il container del blocco dove puoi scrivere un messaggio */
.scrivi-mex{
    /* debug */
    width: 65%;
    background-color: violet ;
}
/* classe per il container del vocale */
.vocale{
    /* debug */
    background-color: #fff;
    width: 15%;
}





