/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET IMG */
img{
    max-width: 100%;
}
/* classe del body per mettere il colore dietro */
body{
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#009688 0%, #009688 150px, #d9dbd5 150px, #d9dbd5 100%);
}
/* classe per il container centrale */
.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    /* debug */
    min-height:800px ;
    background: #fff;
}
/* classe del container di sinistra  */
.container .sinistra{
    position: relative;
    width: 30%;
    background-color: #fff;
}
/* classe del container di destra */
.container .destra{
    position: relative;
    background: #e5ddd5;
    width: 70%;
    background-image: url(../img/mine.jpg);
}
/* header di sinistra */
.sinistra header{
    /* debug */
    height: 100px;
    width: 100%;
    background-color: red;
}
/* header di destra */
.destra header{
    /* debug */
    height: 100px;
    width: 100%;
    background-color: yellow;
}
/* classe per le notifiche */
.notifiche{
    /* debug */
    height: 125px;
    width: 100%;
    background-color: aqua;
}
/* classe per la ricerca */
.ricerca{
    /* debug */
    height: 50px;
    width: 100%;
    background-color: gray;
}
/* classe per la lista delle chat */
.chat-list{
    /* debug */
    overflow-y: scroll;
    width: 100%;
    height: 525px;
    background-color: green;
}
/* classe per il container dell'header */
.container-header{
    /* debug */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* classe per il contenuto di sinistra dentro l'header di sinistra */
.div-sinistra-header{
    /* debug */
    width: 20%;
    height: 50px;
    background-color: white ;
}
/* classe per il contenuto di destra dentro l'header di sinistra */
.div-destra-header{
    /* debug */
    width: 40%;
    height: 50px;
    background-color: blueviolet; 
}
/* classe per la chat */
.chat{
    /* debug */
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 3px solid orange;
}
/* classe per l'immagine dentro la chat */
.img-chat{
    /* debug */
    width: 20%;
    height: 90px;
    background-color: white ;
    border: 1px solid black;
}
/* classe per il testo del messaggio dentro la chat */
.text-chat{
    /* debug */
    width: 60%;
    height: 90px;
    background-color: blueviolet; 
    border: 1px solid black;
}
/* classe per la chat attuale  */
.chat-now{
    /* debug */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: lightcoral;
    height: 600px;
    overflow-y: scroll;
}
/* classe per la parte dove scrivi un messaggio */
.scrivi{
    /* debug */
    width: 100%;
    height: 100px;
    background-color: springgreen;
}
/* classe del blocco con il nome e la foto  */
.foto-nome{
    /* debug */
    width: 40%;
    background-color: slateblue;
}
/* classe per il blocco dei simboli */
.simboli-chat{
    /* debug */
    width: 30%;
    background-color: red;
}
